<style scoped>
.bubbles-box {
    width: 50%;
    height: 100%;
    float: left;
    background-color:rgba(71, 71, 70, 0.156);
    position: fixed; right:1px; top:1px;
    padding-top:1%
  }
  .bubbles {
    margin: 5px 5px 5px 0;
    font-size: 16px;
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    background-color: #616161!important;
    color: #fff!important
  }
  
  .bubbles:hover{
    background-color: #858585!important;
  }

  .bubbles:active{
    background-color: #858585
  }  

</style>

<template>
<div class="bubbles-box" >
    <div style="margin-left: 5%; margin-right: 5%">
        <button class="bubbles" @click="send('Ivan')">Ivan</button>
        <button class="bubbles" @click="send('i.petrov@gmail.com')">i.petrov@gmail.com</button>
        <button class="bubbles" @click="send('Google')">Google</button>
        <button class="bubbles" @click="send('Petrov')">Petrov</button>
        <button class="bubbles" @click="send('0898464358')">0898464358</button>
        <button class="bubbles" @click="send('UK')">UK</button>
        <button class="bubbles" @click="send('www.wikipedia.com')">www.wikipedia.com</button>
    </div >
</div>
</template>


<script>
// import Form from './Form.vue'

export default {
    name: 'Bubbles',
    data() {
        return{
        sl: '',
        arg1: '088989',
        arg2: 'STEVE',
        arg3: 'GOOGGLE',
        arg4: 'UK',
        arg5: 'SMITH',
        }
    },
    props: {
        Selection: String
    },
    methods: {
        // alert() {
        //     // alert('changed');
        //     this.sl=this.Selection;
        // },
        send(arg) {
            // this.sl = this.arg1;
            this.$emit('clicked', arg );//json {field: 'fname', value: 'John'}
            // alert('clc');
            // alert("emited");

        },
    },
//     watch: {
//         'Selection': function() {
// this.alert();
//         }
//     },
    computed: {
        
    }
}
</script>