<style scoped>
.form-box {
  width: 50%;
  height: 100%;
  float:left;
  background-color:rgba(148, 148, 148, 0.829);
  margin: auto;
  position:fixed; left:1px; top:1px;

}
.form {
    text-align:center ; 
    margin-top:3% ; 
    line-height: 150% ; 
    font-weight: bold ; 
    color: #444444;
}

.confirm-button{
background-color:#616161;
border: none; 
color: white; 
padding: 15px 32px; 
text-align: center; 
text-decoration: none; 
display: inline-block; 
font-size: 16px; 
margin: 4px 2px; 
cursor: pointer;
}
.confirm-button:hover{
  background-color:#4CAF50;
}

</style>

<template>
  <div class="form-box" >
      <div class="form"> 
        <div style="margin-bottom: 5%">
         <p>First name: {{Fname}}</p>
         <input @click="select('Fname')" v-model='Fname' type="text" style="width:228px" v-if="!isHidden" >
        </div>

        <div style="margin-bottom: 5%"> 
          <p>Second name: {{Sname}}</p>
          <input @click="select('Sname')" v-model='Sname'  type="text" style="width:228px" v-if="!isHidden">
        </div>

        <div style="margin-bottom: 5%">
          <p>Phone number: {{Phone}}</p>
          <input @click="select('Phone')" v-model='Phone'  type="text" style="width:228px" v-if="!isHidden">
        </div>

        <div style="margin-bottom: 5%">
          <p>Email: {{Email}}</p>
          <input @click="select('Email')" v-model='Email'  type="text" style="width:228px" v-if="!isHidden">
        </div>

        <div style="margin-bottom: 5%">
          <p>Adress: {{Adress}}</p>
          <input @click="select('Adress')" v-model='Adress'  type="text" style="width:228px" v-if="!isHidden">
        </div>

        <div style="margin-bottom: 5%">
          <p>Company: {{Firm}}</p>
          <input @click="select('Firm')" v-model='Firm'  type="text" style="width:228px" v-if="!isHidden">
        </div>
      </div>

      <button v-on:click="isHidden = !isHidden" >Toggle text fields!</button>
      <p style="text-align: center"><button class="confirm-button" v-if="isHidden"> Print ticket! </button></p>
      
      <div class="bubbles-box">
        <Bubbles  @clicked="onClick"></Bubbles> 
      </div>
  </div>
</template>

<script>
import Bubbles from './components/Bubbles.vue'

export default {
  name: 'app',
  components: {
    Bubbles
  },
      data() {
        return {
            isHidden : false,
            Fname: '',
            Sname: '',
            Phone: '',
            Email: '',
            Adress: '',
            Firm: '',
            selection: '',
            // disabled: false,
            // // slc: '',
            // slcFname: false,
            // slcSname: false,
            // slcphone: false,
            // sclemail: false,
            // slcadress: false,
            // slcfirm: false,
        }
    },
    watch: {

    },
    methods: {
      select: function(slc) {//
      // alert("selected");
      // alert(slc);
      // this.background-color == 'black';
        if(slc == 'Fname'){
          this.selection = 'Fname';
        }
        else if(slc == 'Sname'){
          this.selection = 'Sname';
        }
         else if(slc == 'Phone'){
          this.selection = 'Phone';
        }
          else if(slc == 'Email'){
          this.selection = 'Email';
        }
         else if(slc == 'Adress'){
          this.selection = 'Adress';
        }
         else if(slc == 'Firm'){
          this.selection = 'Firm';
        };                                          
      },

      onClick(arg) {
        console.log('recieved', arg);
        // alert('recieved', arg);
        
        if(this.selection == 'Fname') {//
          this.Fname = arg;
          this.selection = 'none';
        }
        else if (this.selection == 'Sname') {
          this.Sname = arg;
          this.selection = 'none';

        }
        else if (this.selection == 'Phone') {
          this.Phone = arg;
          this.selection = 'none';
          
        }
        else if (this.selection == 'Adress') {
          this.Adress = arg;
          this.selection = 'none';
          
        }
        else if (this.selection == 'Firm') {
          this.Firm = arg;
          this.selection = 'none';
         
        }
        else if (this.selection == 'Email') {
          this.Email = arg;
          this.selection = 'none';
     
        }
        
        // else {

        // };
      
    },
    },
    // computed: {
    //   checkSelection: function() {
    //     if(this.selection == 'none') {
    //       return this.form-box.background-color == 'black';
    //     }
    //   }
    // }
}
</script>